<!DOCTYPE html>
<html>
<head>
  <title>Gincana</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="cabecalho">
    <p>Gincana de Artes!</p>
  </div>
  <div id="conteudo">
    <%= yield %>
  </div>

</body>
</html>
